Options -Indexes

RewriteEngine on       

#uncomment below to force www on your domain
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]                                  

RewriteCond $1 !^(index\.php|user_guide|asset|upload|uploads|resources|users|robots.txt)
RewriteRule ^(.*)$ index.php/$1 [L]

